.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 4em;
  }
  
  .savings {
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    margin: 20px 0;
    
  }
  .link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title{
    font-size: 2.5em;
    margin-bottom: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .span{
    color: red;
    padding: 0 .2em;
  }



  .p1{
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;


  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #2f2f2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  @media (max-width: 600px) {
    .home {
      padding: 20px;
    }
  
    .newProjectButton {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
  