
.navbar-container {
  display: flex;
  justify-content: flex-end; 
  padding: 1rem;
  background-color: #1f1f1f;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #1f1f1f;
  color: #fff;
}

.link {
  display: flex;  /* Adiciona flex para alinhar a imagem e o texto */
  align-items: center;  /* Centraliza verticalmente */
  text-decoration: none;
  color: #fff;
}

.active {
  font-weight: bold;
}

.logo {
  width: 46px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  margin-right: 58rem; /* Espaçamento entre a imagem e o texto */
  justify-content: flex-start; 
  position:absolute;
  top: 38px;
  left: 40px;
  transform: translate(-50%, -50%);
}
